@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 60vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;

}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
section#skills ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20%;
}

section#skills ul li {
    background: #f4f4f4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    
}

section#projects .project {
    margin-bottom: 20px;
    margin-left: 20%;
}

section#projects .project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    margin-left: 20%;
}

section#resume a {
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-left: 20%;
}

section#contact a {
    color: #333;
    text-decoration: none;
    margin-left: 20%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.div1{
     /* border: 3px solid black; */
    /* height: 100 px; */
    width: 600px;
    margin-left: 7%;
    align-items: center;
    display: center;
    margin-bottom: 10%;
  
}
.div2{
    /* border: 3px solid black; */
    height: 400px;
    width: 1100px;
    /* margin-left: 20%; */
    align-items: center;
    display: center;
    /* margin-bottom: 50px; */
    margin-top: 9%;
    margin-right: 10%;

}
.div3{
    /* border: 3px solid black;  */
    height: 150px;
    width: 900px;
    margin-left: 17%;
    align-items: center;
    display: center;
    margin-bottom: 50px;


}
.div4{
     /* border: 3px solid black; */
    height: 300px;
    width: 1100px;
    /* margin-left: 20%; */
    align-items: center;
    display: center;

}
.skills1{
    font-weight: 150;
    margin-left: 2%;
    background-color: var(--primary-color);
    color: #ffffff;
    height: 50px;
    width: 120px;
    border-radius: 10%;
    text-align: center;
    margin-top: 2%;
}
.resume1{
    margin-top: 20px;
}
.eandpno{
    margin-left: 220px;
}
.number{
    margin-left: 168px;
}
h1{
    text-align: center;
}
h3{
    margin: 5px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #583578;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(20, 19, 80, 0.822), 0 10px 10px rgba(195, 165, 165, 0.57);
    margin-right: 550px;
}
.skill li{
    margin: 20px, 0;
    padding: 10px;
}
.bar{
    background-color: #a360d9;
    display: block;
    height: 20px;
    border: 1px solid rgba(69, 23, 68, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.23,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(147, 131, 140)0% rgb(36, 11, 11)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 70%;
    animation: css 3s;
}
.javascript{
    width: 60%;
    animation:javascript 3s;
}
.sql{
    width: 70%;
    animation: sql 3s;
}
.corejava{
    width: 75%;
    animation: corejava 3s;
}
@keyframes html {
    0%{
        width: 0%;    
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;    
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;    
    }
    100%{
        width: 60%;
    }
}
@keyframes sql{
    0%{
        width: 0%;    
    }
    100%{
        width: 70%;
    }
}
@keyframes corejava{
    0%{
        width: 0%;    
    }
    100%{
        width: 75%;
    }
}
.completebox{
  height: 700px;
  width: 100%;
  /* border: 2px solid black;  */
  display: flex;
}
.completebox2{
  height: 500px;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
}
